.step-one {
  background-image: url(../../images/send-request-page.png);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 85px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .steps-line {
    margin-top: 50px;
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    .steps-manager {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4px;
      width: 80%;
      background-color: #a9c2d8;
      .circles {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .circle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 18px;
          height: 18px;
          background-color: #d88600;
          border: 2px solid #a9c2d8;
          border-radius: 50px;
          &:nth-child(2) {
            background-color: #a9c2d8;
          }
          &:nth-child(3) {
            background-color: #a9c2d8;
          }
          p {
            width: 45px;
            font-weight: 500;
            font-size: 15px;
            color: #ffffff;
            padding-bottom: 55px;
          }
        }
      }
    }
  }
  .content-main {
    margin-top: 50px;
    width: 80%;
    h2 {
      font-weight: 700;
      font-size: 60px;
      line-height: 81px;
      color: #ffffff;
    }
    h5 {
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      color: #ffffff;
      padding-top: 20px;
      padding-right: 20px;
      max-width: 1000px;
    }
    .cards {
      margin-top: 40px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 30px;
      .card {
        width: 250px;
        border-radius: 20px;
        position: relative;

        h4 {
          font-size: 30px;
          padding: 20px;
          position: relative;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          color: #ffffff;
        }
        .description {
          display: block;
          color: #000000;
          padding: 20px;
          margin-top: -20px;
          background-color: #ffffff;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          button {
            height: 40px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            border-radius: 30px;
            font-size: 30px;
            margin-top: 10px;
            b {
              margin-left: 10px;
            }
          }
        }
        img {
          border-radius: 20px;
          width: 100%;
          resize: cover;
          height: 100%;
        }
        &:nth-last-of-type(1) {
          background-color: #004b8f;
          button {
            border: 2px solid #004b8f;
            b {
              color: #004b8f;
            }
          }
        }
        &:nth-last-of-type(2) {
          background-color: #d88600;
          button {
            border: 2px solid #d88600;
            b {
              color: #d88600;
            }
          }
        }
        &:nth-last-of-type(3) {
          background-color: #004b8f;
          button {
            border: 2px solid #004b8f;
            b {
              color: #004b8f;
            }
          }
        }
      }
    }
  }
}
