#advantages {
  .custom-dots {
    position: relative;
    display: flex !important;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .custom-dots li button {
    padding: 0;
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #9b9b9b;
  }
  .custom-dots li.slick-active button {
    background-color: #003c74;
  }
  @media only screen and (min-width: 1300px) {
    .content-advantages {
      h2 {
        display: flex;
        align-items: center;
        padding-left: 10%;
        padding-top: 140px;
        gap: 17px;
        font-size: 60px;
        font-weight: 700;
        img {
          height: 90px;
          width: 90px;
        }
      }
      .slide-one {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 60px 200px 0px 200px;
        p {
          font-weight: 500;
          font-size: 26px;
          line-height: 35px;
          width: 582px;
          margin-right: 20px;
        }
        img {
          border-radius: 30px;
          margin: 40px 10px;
        }
      }
      .slide-two {
        display: flex !important;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
        padding: 60px 250px 60px 250px;
        gap: 60px;
        .advantages {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          padding-top: 20px;
          width: 460px;
          p {
            font-size: 22px;
            b {
              font-weight: 700;
              color: #0e0e0e;
            }
          }
          img {
            margin-right: 20px;
            &:nth-child(1) {
              width: 56px;
              height: 49px;
            }
            &:nth-child(2) {
              width: 43px;
              height: 54px;
            }
            &:nth-child(3) {
              width: 65px;
              height: 65px;
            }
            &:nth-child(4) {
              width: 65px;
              height: 65px;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    .content-advantages {
      h2 {
        display: flex;
        align-items: center;
        padding-left: 5%;
        padding-top: 140px;
        gap: 17px;
        font-size: 40px;
        font-weight: 700;
        img {
          height: 70px;
          width: 70px;
        }
      }
      .slide-one {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        p {
          font-weight: 500;
          font-size: 20px;
          line-height: 35px;
          width: 582px;
          margin-right: 20px;
          padding-left: 5%;
        }
        img {
          border-radius: 30px;
          padding-left: 0;
          padding-top: 20px;
        }
      }
      .slide-two {
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        padding-left: 30px;
        .advantages {
          display: flex;
          width: 460px;
          padding-top: 30px;
          p {
            padding-right: 20px;
            font-size: 20px;
            b {
              font-weight: 700;
            }
          }
          img {
            margin-right: 20px;
            &:nth-child(1) {
              width: 56px;
              height: 49px;
            }
            &:nth-child(2) {
              width: 43px;
              height: 54px;
            }
            &:nth-child(3) {
              width: 65px;
              height: 65px;
            }
            &:nth-child(4) {
              width: 65px;
              height: 65px;
            }
          }
        }
      }
    }
  }
}
