.clouds-background {
  width: 100%;
  background-image: url(../../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
